{% extends 'base.html.twig' %}

{% block title %}Hello TiendaUserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Perfil de {{ usuario.unombres }} {{ usuario.uapepat }} {{ usuario.uapemat }}</h1>

    <ul>
        <li>ID: {{ usuario.id }}</li>
        <li>Correo: {{ usuario.ucorreo }}</li>
        <li>Nombres: {{ usuario.unombres }}</li>
        <li>Apellido Paterno: {{ usuario.uapepat }}</li>
        <li>Apellido Materno: {{ usuario.uapemat }}</li>
        <li>DNI: {{ usuario.udni }}</li>
        <li>Teléfono: {{ usuario.utelefono }}</li>
    </ul>
    {% if perfil == true %}
        {# <a href="{{ path('app_tienda_nuevo_producto', {'id': usuario.id}) }}" class="btn btn-primary">
            Agregar un Producto
        </a> #}
        {{ component('producto_agregar',{
            form: form,
            producto:producto
	    }) }}

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Actualizar mis productos
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Mis productos</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.id }}</td>
                                    <td>{{ producto.prnombre }}</td>
                                    <td>{{ producto.prdescripcion }}</td>
                                    <td>{{ producto.prcategoria }}</td>
                                    <td>{{ producto.prprecio }}</td>
                                    <td>
                                        <a href="{{ path('app_tienda_editar_productos', {'id': producto.id}) }}" class="btn btn-primary">
                                            Editar
                                        </a>
                                        {{ include('tienda_user/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
<div id="producto_app"></div>
<div id="appcarrito"></div>
{% endblock %}
