<div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-4">
        <span class="fs-4 fw-semibold me-2">Mejores Marcas</span>
    </div>

    
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 g-4">
        {% for item in contenido %}
            <div class="col d-lg-block d-md-block d-sm-block">
                <div class="card h-100 p-2">
                    <img src="{{ item.logo }}" class="card-img-top img-marca" alt="..." />
                    <div class="card-body contenido-marca pt-3 pb-1">
                        <div class="row g-2 justify-content-center">
                            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                                <p class="fs-3 fw-semibold mb-2">{{ item.nombre }}</p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <p class="config-truncate m-0 fw-semibold">{{ item.descripcion }}</p>
                            </div>
                            {% for imagen in item.imagenes %}
                                <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                                    <img class="img-fluid p-1" src="{{ imagen }}" alt="" />
                                </div>
                            {% endfor %}
                            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-4">
                                <a href="{{ item.enlace.tipo == 'url' ? item.enlace.valor : path(item.enlace.valor) }}" class="text-decoration-none"><p class="text-body-secondary">Ver tienda</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>